ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(29, 100%, 53%);
  font-family: Verdana;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(238, 176, 41);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:rgb(255, 178, 78);}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    background-image: url('jays.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content{
    width: 100%;
    position: absolute;
    top: 20%;
    transform: rotateY(-50%);
    text-align: center;
    color: rgb(65, 47, 1);
}

.content h3{
    font-size: 70px;
    margin-top: 80px;
    font-family: verdana;
}

.content p{
    margin: 50px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: ;
}

div.gallery{
    margin: 125px;
    border: 5px solid whitesmoke;
    float: left;
    width: 80%;
    margin-top: 100px;
    margin-right: 150%;
}

div.gallery:hover {
    border: 5px solid rgb(248, 248, 34);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: verdana;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

div.about{
  margin-right: 10px;
}